<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <form method="post">
            Do you really want to delete tick?
            <input type="hidden" name="id" value="<%= tick.id %>"/>
            <input type="submit" value="Yes" />
        </form>
        <p>
            <a href="/ticks/">Back</a>
        </p>
  </body>
</html>